streamlit
pandas
matplotlib
seaborn
requests
python-dotenv
langchain
langchain-community
faiss-cpu  # for FAISS (use faiss-gpu if you're using GPU locally)
sentence-transformers  # needed for HuggingFaceEmbeddings
